

<!-- Main jumbotronffff for a primary marddddddgit keting message or call to action -->
<div class="jumbotron">
    <div class="container">
    <h1>Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

    <!-- Example row of columns -->


<div class="row">

	 <a routerLink="/">Home</a>

</div>
<div class="row">
	 <a class="col-md-3" routerLink="/register">Register</a>
	 <a class="col-md-3" routerLink="/login">Login</a>

</div>
<div class="row">

	 <a class="col-md-3" routerLink="/annonces">Annonces</a>

	 <a class="col-md-3" routerLink="/form">Post Annonce</a>
	 <a class="col-md-3" routerLink="/ga">Gestion Annonce</a>
	 <a class="col-md-3" routerLink="/modify">Modify</a>
</div>
<div class="row">



  </div>

  <hr>

  <footer>
    <p>&copy; 2016 Company, Inc.</p>
  </footer>
